$myBlue: #3c4f5f;
$myBlue-2: #456075;
$myBlue-3: #4a7392;
$myGreen: #a9b48f;
$myGreen-2: #636858;
$myNeon: #00ffdd66;
$myBlueOperator: #2ad5f3;
$myRed: #ff98ad;
$myWhite: white;
$myGrey: #797979;
$myYellow: #ebd976;
$myGreenEqual: #87ffa1;